html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url('http://2.bp.blogspot.com/-76zDFwn344c/TVcD97_BkcI/AAAAAAAAAHE/le86DMOjTUw/s1600/Stage-Background.png');
}

.narrow {
  max-width: 700px;
}

.container-fluid{
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.row-fluid {
  height: 100%; 
  display: table-cell; 
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

.centering {
  float: none;
  margin:0 auto;
}

#chat dd{
  padding-bottom: 2px;
}

.chat-panel {
	height: 300px;
	overflow-y: auto;
	padding-right: 1px;
  min-height: 80%;
}

.chatTextBlock {
  max-width: 69%;
  display: inline-block;
  vertical-align: middle;
}

.text-danger {
  display: block;
  font-weight: bold;             
}

.profilepic {
  height: 32px;
  margin: 8px;
}

.NextTurn {
  font-weight: bold;
}

h1, h4 {
  color: white;
}

#theirMoveHead {
  text-align: right;
}

.removeLeftPadding {
  padding-left: 0px;
}

.alert {
    position: absolute;
    bottom: 70px; 
    left: 15px; 
    right: 15px;
}

.text-white {
  color: white;
}

.overflow-ellipsis, p {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.poster {
  width: 25%;
}

.alpha75 {
  /* Source: http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/ */
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

dd {
  white-space:nowrap
}

