html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.narrow {
  max-width: 700px;
}

.container-fluid{
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.row-fluid {
  height: 100%; 
  display: table-cell; 
  vertical-align: middle;
}

.centering {
  float: none;
  margin:0 auto;
}

#chat dd{
  padding-bottom: 2px;
}
.panel-body {
	height: 300px;
	overflow-y: auto;
	padding-right: 1px
}
.chatTextBlock {
  display: inline-block;
  vertical-align: middle;
}
.text-danger {
  display: block;
  font-weight: bold;             
}
.text-primary {
  display: block;
}
.profilepic {
  margin-right: 8px;
}

.NextTurn {
  font-weight: bold;
}