html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url('http://2.bp.blogspot.com/-76zDFwn344c/TVcD97_BkcI/AAAAAAAAAHE/le86DMOjTUw/s1600/Stage-Background.png');
}

.narrow {
  max-width: 700px;
}

.container-fluid{
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.row-fluid {
  height: 100%; 
  display: table-cell; 
  vertical-align: middle;
}

.centering {
  float: none;
  margin:0 auto;
}

#chat dd{
  padding-bottom: 2px;
}
.panel-body {
	height: 300px;
	overflow-y: auto;
	padding-right: 1px
}
.chatTextBlock {
  display: inline-block;
  vertical-align: middle;
}
.text-danger {
  display: block;
  font-weight: bold;             
}
.text-primary {
  display: block;
}
.profilepic {
  margin-right: 8px;
}

.NextTurn {
  font-weight: bold;
}

h4, h1 {
  color: white;
}

.text-white {
  color: white;
}

.alpha75 {
  /* Source: http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/ */
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.75);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

